numpy
matplotlib
pandas
pytesseract
openpyxl
xlsxwriter
flask
werkzeug
sqlalchemy
flaks_sqlalchemy
bcrypt
pyjwt
DateTime
opencv-python
flask_cors
gunicorn
gevent
yolov5
flask_cors
mysql-connector-python